$color-primary           : #f05a36;  // f26222
$color-primary-dark      : #D23611;  // c74409
$color-primary-darker    : #A52203;  // 9e3100
$color-primary-light     : #FF7C5D;  // ff854e
$color-primary-lighter   : #FF9D86;  // ffa176
//$color-brand             : #f05a36;

$color-secondary         : #474b55;
$color-secondary-semi    : #46535e;
$color-secondary-demi    : #5e676e;
$color-secondary-light   : #babec6;
$color-secondary-lighter : #c3c8ce;
$color-secondary-whiten  : #dfe2e7;

$color-base-white        : #ffffff;
$color-base-black        : #322b1f;
$color-success           : #70c989;
$color-danger            : #ea5a3f;
$color-info              : #fbc437;

$color-whiten-bg         : #f1f1f1;
$color-whiten-bg-light   : #f9f9f9;
$box-shadow              : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$border-radius           : rem-calc(3);
